.ud-name{
    position: absolute;
    right: 0;
}

.login-container {
    position: absolute;
    right: 50%;
    top: 40%;
    transform: translate(50%, 50%);
}

.end-container {
    position: absolute;
    right: 50%;
    top: 30%;
    transform: translate(50%, 50%);
}

.none {
    display: none;
}